/* hero section */
.hero {
    height: 24rem;
    background-image: url("https://images.pexels.com/photos/113335/pexels-photo-113335.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    margin: 3rem;
    border-radius: var(--radius-m);
    padding-top: 6em;
}

.hero-title {
    color: var(--primary-100);
    padding-left: 1rem;
}

.hero-subtitle {
    color: var(--background-grey);
    padding-left: 1rem;
}

/* category grid */
.category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3em;
    margin: 3rem
}

.card-img{
    opacity: 90%;
}

.card>.card-head {
    color: var(--primary);
    text-transform: uppercase;
    padding: 1em;
}

.card-img > img{
    border-radius: var(--radius-s) var(--radius-s) 0 0;
}