/* initial layout */
.content{
    display: flex;
}

/* product display */
.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 3em;
    gap: 2em;
}

/* product card */
.card-title{
    text-transform: capitalize;
}

/* filter section */
.filter{
    width: 18em;
    padding: 1em;
    box-shadow: var(--list-shadow);
    position: sticky;
}

.filter-and-clear{
    display: flex;
    justify-content: space-between;
}

.price > .input-data{
    display: block;
    width: 100%;
}

.price-values{
    display: flex;
    justify-content: space-between;
}

.filter-heading{
    font-weight: var(--semi-bold);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.inline-input{
    display: inline-block;
}

.filter > form{
    margin: 0;
    padding: 1em;
    width: 100%;
    box-shadow: none;
}

.badge > i{
    color: var(--white);
}