@import url("https://peaceui.netlify.app/peace.css");

/* overriding btn component */
.btn{
    margin: 0;
}

.btn-ghost:hover{
    color: var(--primary-100);
    border: 2px solid var(--primary-100);
}

.btn-ghost:active{
    color: var(--primary);
}

/* overriding navbar */
.nav-wrapper{
    top: 0;
    width: 100%;
}

.nav-list{
    /* reduced column-gap from 3em to 1em */
    column-gap: 1em;
    margin-right: 0;
}

/* overriding input */
.search{
    margin:0;
    padding: 0;
    height: 1rem;
    display: block;
    cursor: pointer;
}

.input-data{
    border: 2px solid var(--background-grey);
}

.input-data:hover{
    border: 2px solid var(--primary);
}

/* overriding badge */
.badge{
    margin:0;
}

.icon-badge > i{
    font-size: 1.8em;
}

h5{
    padding: 1em;
}


.wishlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em 1em 1em 1em;
    gap: 1em;
}

.card-option{
    margin: 0;
    padding: 1em;
}

.card-option > .btn{
    width: 100%;
}


